<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Color" asp-action="Index">Colors</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Shape" asp-action="Index">Shapes</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Transparency" asp-action="Create">Transparency</a>
</li>