
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="CustomerProducts" asp-action="Index">Check Stuff</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="ShoppingCart" asp-action="Orders">Shopping Cart</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Order" asp-action="Index">Your Orders</a>
</li>
