
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Product" asp-action="Shop">Buy Stuff</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Product" asp-action="Orders">Orders</a>
</li>
