
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Artist" asp-controller="Product" asp-action="Create">Creation</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Artist" asp-controller="Sales" asp-action="Index">Profile</a>
</li>
    