
.shaper-logo {
    font-size: 24px;
    color: #E0CFFC;
    text-decoration: underline;
    cursor: pointer;
}

.shaper-container {
    border-radius: 10px;
    margin-left: 30vh;
    margin-right:30vh;
    padding: 20px 40px;
    background-color: indigo;
}

.shaper-title {
    margin-left: 30vh;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: dotted 9px indigo;
}
.shaper-login-baground {
    background-color: #E0CFFC;
    padding-top:10px;
    height: 80vh;
    border-radius: 0px 2000px 0px 0px;
}
.indigo {
    background-color: indigo;
}

.indigo-light-text {
    color: #E0CFFC;
}

.indigo-light-border {
    border-right: 5px dotted;
    border-color: #E0CFFC;
}

.texteffect {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

    .texteffect:hover {
        top: -10px;
    }

a.shaper-logo:hover {
    color: #E0CFFC;
}

input[type=checkbox] {
    transform: scale(1.5);
}

label {
    color: #E0CFFC;
}

span {
    color: red;
}